<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer web con Front Controller</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="index.php">Incio</a>
            </li>
            <li>
                <a href="index.php?ruta=login">Acceder</a>
            </li>
            <li>
                <a href="index.php?ruta=contacto">Contacto</a>
            </li>
        </ul>
    </nav>
    <h1>Bienvenido!!!</h1>
    <p>Ejemplo de web con Front Controller</p>
    <p>Se encuentra en home.html</p>
</body>
</html>