<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeCard</title>
    <link rel="stylesheet" href="assets/style.home.css">
</head>
<body>
    <main class="container">
        <h1 class="title">PokeCard</h1>
        <a class="button" href="index.php?ruta=login">Crear partida</a>
        <a class="button" href="index.php?ruta=users">Jugadores</a>
        <a class="button" href="#">Instrucciones</a>
        <a class="button" href="index.php?ruta=tablero">Tablero</a>
    </main>
</body>
</html>